body{
    background-color: #FFEBCD;
    scroll-behavior: auto;
    font-family: "orbitron", Verdana, Tahoma, sans-serif;
}


#title{
    text-align: center;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
}

#description{
    font-size: 20px;
}

hr {
    background-color: black;
    border-radius: 15px;
    color: black;
    height: 5px;
}

.inline{
    display: inline-block;
}